<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="Performance Parameter_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_Performance Parameter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="Strategy type_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Strategy type" type="xstring" value=""/>
        <config key="Event classifier_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Event classifier" type="xstring" value=""/>
        <config key="Event classifier set_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_stringarray"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="Event classifier set">
            <entry key="array-size" type="xint" value="8"/>
            <entry key="0" type="xstring" value="Activity###class org.deckfour.xes.classification.XEventAttributeClassifier"/>
            <entry key="1" type="xstring" value="activity classifier###class org.deckfour.xes.classification.XEventAttributeClassifier"/>
            <entry key="2" type="xstring" value="#Event Attribute#time:timestamp###class org.deckfour.xes.model.impl.XAttributeTimestampImpl"/>
            <entry key="3" type="xstring" value="#Event Attribute#org:resource###class org.deckfour.xes.model.impl.XAttributeLiteralImpl"/>
            <entry key="4" type="xstring" value="#Event Attribute#Activity###class org.deckfour.xes.model.impl.XAttributeLiteralImpl"/>
            <entry key="5" type="xstring" value="#Event Attribute#Costs###class org.deckfour.xes.model.impl.XAttributeLiteralImpl"/>
            <entry key="6" type="xstring" value="#Event Attribute#Resource###class org.deckfour.xes.model.impl.XAttributeLiteralImpl"/>
            <entry key="7" type="xstring" value="#Event Attribute#concept:name###class org.deckfour.xes.model.impl.XAttributeLiteralImpl"/>
        </config>
        <config key="Move on log cost_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Move on log cost" type="xint" value="1"/>
        <config key="Move on model cost_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Move on model cost" type="xint" value="1"/>
        <config key="Sync move cost_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Sync move cost" type="xint" value="0"/>
        <config key="Time stamp_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Time stamp" type="xstring" value="#Event Attribute#time:timestamp"/>
        <config key="Consider performance in syn moves_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Consider performance in syn moves" type="xboolean" value="true"/>
        <config key="Include unreliable replay results_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Include unreliable replay results" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.pm4knime.node.conformance.performance.PerformanceCheckerNodeFactory"/>
    <entry key="node-name" type="xstring" value="Performance Checker"/>
    <entry key="node-bundle-name" type="xstring" value="Development Build"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.pm4knime.plugin"/>
    <entry key="node-bundle-vendor" type="xstring" value="Fraunhofer Institute for Applied Information Technology"/>
    <entry key="node-bundle-version" type="xstring" value="1.1.1.qualifier"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Performance Checker"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 9, Cols: 2"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 24, Cols: 7"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 21, Cols: 7"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="dabecaa0-66d8-432f-9494-85bbcc537ea6"/>
    </config>
</config>
