<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 <extension
         point="org.knime.workbench.repository.categories">
      <category path="/" name="Process Mining" level-id="processmining"/>
	<category path="/processmining" name="IO" level-id="io"/>
	<category path="/processmining" name="Discovery" level-id="discovery"/>
	<category path="/processmining" name="Conformance" level-id="conformance"/>
   </extension>
   
   <extension point="org.knime.workbench.repository.nodes">
            
	<node factory-class="org.pm4knime.node.io.log.reader.XLogReaderNodeFactory" category-path="/processmining/io"/>
	<node factory-class="org.pm4knime.node.io.log.writer.XLogWriterNodeFactory" category-path="/processmining/io"/>
	<node factory-class="org.pm4knime.node.io.petrinet.reader.PetrinetReaderNodeFactory" category-path="/processmining/io"/>
	<node factory-class="org.pm4knime.node.io.petrinet.writer.PetrinetWriterNodeFactory" category-path="/processmining/io"/>
	<node factory-class="org.pm4knime.node.discovery.inductiveminer.InductiveMinerNodeFactory" category-path="/processmining/discovery"/>

	<node category-path="/processmining/conformance" factory-class="org.pm4knime.node.conformance.UnifiedConformanceCheckerNodeFactory"/>
	<node category-path="/processmining/conformance" factory-class="org.pm4knime.node.conformance.ConformanceCheckerNodeFactory" />        
   </extension>

	<extension point="org.knime.core.PortType">
		<portType hidden="false" name="Event Log" objectClass="org.pm4knime.portobject.XLogPortObject" objectSerializer="org.pm4knime.portobject.XLogPortObject$XLogPortObjectSerializer" specClass="org.pm4knime.portobject.XLogPortObjectSpec" specSerializer="org.pm4knime.portobject.XLogPortObjectSpec$XLogPortObjectSpecSerializer"> </portType>
		<portType hidden="false" name="Petri Net" objectClass="org.pm4knime.portobject.PetriNetPortObject" objectSerializer="org.pm4knime.portobject.PetriNetPortObject$PetriNetPortObjectSerializer" specClass="org.pm4knime.portobject.PetriNetPortObjectSpec" specSerializer="org.pm4knime.portobject.PetriNetPortObjectSpec$PetriNetPortObjectSpecSerializer"> </portType>   
		<portType hidden="false" name="Alignment" objectClass="org.pm4knime.portobject.RepResultPortObject" objectSerializer="org.pm4knime.portobject.RepResultPortObject$RepResultPortObjectSerializer" specClass="org.pm4knime.portobject.RepResultPortObjectSpec" specSerializer="org.pm4knime.portobject.RepResultPortObjectSpec$RepResultPortObjectSpecSerializer"> </portType>

	</extension>
</plugin>
