<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="Merge Strategy_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Merge Strategy" type="xstring" value="Separate Trace"/>
        <config key="Case ID 0_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="Case ID 0" type="xstring" value="Log-0#Trace Attribute#concept:name"/>
        <config key="Event ID 0_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="Event ID 0" type="xstring" value="Log-0#Event Attribute#time:timestamp"/>
        <config key="Case ID 1_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="Case ID 1" type="xstring" value="Log-1#Trace Attribute#concept:name"/>
        <config key="Event ID 1_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="Event ID 1" type="xstring" value="Log-1#Event Attribute#time:timestamp"/>
        <config key="Trace Attribute Set_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <config key="Trace Attribute Set">
            <config key="InclList">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <config key="ExclList">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="keep_all_columns_selected" type="xboolean" value="true"/>
        </config>
        <config key="Event Attribute Set_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <config key="Event Attribute Set">
            <config key="InclList">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <config key="ExclList">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="keep_all_columns_selected" type="xboolean" value="false"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.pm4knime.node.logmanipulation.merge.MergeLogNodeFactory"/>
    <entry key="node-name" type="xstring" value="Merge Event Log"/>
    <entry key="node-bundle-name" type="xstring" value="Development Build"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.pm4knime.plugin"/>
    <entry key="node-bundle-vendor" type="xstring" value="Fraunhofer Institute for Applied Information Technology"/>
    <entry key="node-bundle-version" type="xstring" value="1.1.1.qualifier"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Merge Event Log"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.pm4knime.portobject.XLogPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.pm4knime.portobject.XLogPortObject"/>
            <entry key="port_object_summary" type="xstring" value="This port represents an event log object (XLog)"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="befca060-1d1f-45f7-968d-b9ee86fe8e97"/>
    </config>
</config>
